<nav *ngIf="auth.currentUser() as user">
  <span class="brand">SWAM<span class="brand-tag">Incident Console</span></span>
  <a routerLink="/incidents">Incidents</a>
  <a *ngIf="auth.isAdmin()" routerLink="/tags">Tags</a>
  <a *ngIf="auth.isSuperAdmin()" routerLink="/departments">Departments</a>
  <a *ngIf="auth.isAdmin()" routerLink="/users">Users</a>
  <span class="spacer"></span>
  <span class="whoami">{{ user.firstName }} ({{ user.userType }})</span>
  <button (click)="logout()">Log out</button>
</nav>

<router-outlet></router-outlet>
